@font-face {
	font-family: "Determination";
	src: url("fonts/determinationmonoweb-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Determination";
	background: black;
	padding: 0px;
	margin: 0px;
}

#mainWin {
	background-color: #000;
}

#uiArea, #actionArea, #mainWin {
	position: absolute;
	top: 0px;
	height: 600px;
	width: 800px;
}

#menu {
	background-color: #000;
	border-width: 10px;
	border-style: double;
	border-color: #fff;
	position: absolute;
	top: 310px;
	left: 30px;
	width: 720px;
	height: 180px;
	color: #fff;
	font-size: 24pt;
}

#menu-inner {
	padding: 20px;
}

.enemy {
	width: 200px;
	height: 350px;
/*
	background-color: #804050;
*/
	position: absolute;
	left: 200px;
	top: 0px;
}

.octocat {
	height: 200px;
}

.speechBubble {
	white-space: nowrap;
	position: absolute;
	left: 400px;
	top: 100px;
	border-collapse: collapse;
	border-style: none;
	color: #000;
}

.speechBubble-top-left     { width: 20px; background: url("assets/speechBubble-top-left.png"); }
.speechBubble-top          { height: 20px; background: url("assets/speechBubble-top.png") repeat-x; }
.speechBubble-top-right    { width: 20px; background: url("assets/speechBubble-top-right.png"); }
.speechBubble-middle-left  { width: 20px; background: url("assets/speechBubble-middle-left.png") repeat-y; }
.speechBubble-middle       { background: #fff; }
.speechBubble-middle-right { width: 20px; background: url("assets/speechBubble-middle-right.png") repeat-y; }
.speechBubble-bottom-left  { width: 20px; background: url("assets/speechBubble-bottom-left.png"); }
.speechBubble-bottom       { height: 20px; background: url("assets/speechBubble-bottom.png") repeat-x; }
.speechBubble-bottom-right { width: 20px; background: url("assets/speechBubble-bottom-right.png"); }

#toolBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#toolBar li {
	display: inline-block;
	width: 130px;
	height: 35px;
	border-style: solid;
	border-color: #ffffff;
	text-align: center;
	margin-left: 30px;
	color: #fff;
	font-size: 22pt;
	font-weight: bold;

	border-style: solid;
	border-width: 4px;
	padding: 2px;
}

#menu-inner li {
	list-style-type: none;
}

#menu-inner li.mi_high/*:before*/ {
/*
	color: #ffde00;
	content: '*';
*/
	list-style-image: url('assets/asterisk.png');
}

#toolBar li.mi_high {
	border-style: double;
	border-width: 6px;
	border-color: #ffde00;
	color: #ffde00;
	padding: 0px;
}


#toolBar {
	position: absolute;
	top: 535px;
	left: 30px;
}

#statusBar-left, #statusBar-right {
	white-space: nowrap;
	position: absolute;
	width: 600px;
	top: 510px;
	color: #fff;
}

#statusBar-left {
	left: 30px;
	width: 600px;
}

#statusBar-left div {
	display: inline-block;
}

#hp_damage, #hp_remain {
	height: 10px;
}

#hp_damage {
	background: #f00;
	width: 0px;
}

#hp_remain {
	background: #ffde00;
	width: 20px;
}
