body {
	background: black;
}

#mainWin{
	background-color: #aeaeae;
	width: 800px;
	height: 600px;
	margin: 0px auto;
}

#uiArea{
	position: relative;
	top: -600px;
	height: 600px;
	width: 800px;
	
}

.menu{
	background-color: #ffffff;
	border-width: 10px;
	border-style: double;
	border-color: #000000;
	position: relative;
	top: 350px;
	left: 30px;
	width: 720px;
	height: 200px;
}

#ocHolder{
	width: 200px;
	height: 450px;
	background-color: #804050;
	position: relative;
	/*top: -525px;*/
	left: 200px;
}

#speech{	
	width: 400px;
	height: 100px;
	background-color: #ffffff;
	position: relative;
	/*top: -825px;*/
	top: -350px;
	left: 400px;
}

